body{
	background-color: darkgrey;
}

nav {
	background-color: white;
	border: 10px solid black;
	width: 100%;
}

li {
	display: inline-block;
	border: 2px solid black;
	padding: 5px;
	background-color: darkgrey;
	color: white;
}
h1 {

	text-align: center;
	margin: 50px;
}

h2 {
	margin: 50px;

}

p {
	display: inline-block;
	margin: 50px;
}
